body{
    display: flex;
    justify-content: center;
    align-content: center;

    background-color: bisque;
    font-family: Arial;
    padding: 10px;
}
.container{
    /* background-color: rgb(254, 254, 254); */
    text-align: center;
    padding: 15px;
    flex: 0 1 auto;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .in{
    font-size: 20px;
    border-radius: 10px;
    color: black;
    border: 3px solid white;

    padding: 10px;
    width: 450px;
}
.log{
    background-color: rgb(171, 177, 159);
}
.sign{
    background-color: rgb(173, 222, 222);
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
span{
    font-size: 16px;    
    color: rgb(255, 47, 106);
    font-style: italic;
    margin: 0;
}
input{
    height: 60px;
    padding-left: 10px;
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(40, 164, 158);
    font-size: 17px;
    transition: 0.5s;
}
input:hover{
    border: 2px solid rgb(31, 224, 105);
}

button{
    width: 150px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid rgb(241, 246, 240);
    border-radius: 10px;
    padding: 20px 0;
    transition: 0.5s;
}
button:hover{
    width: 152px;
    padding: 21px 0;

    background-color: rgb(40, 184, 136);
}
