body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: bisque;
    font-family: Tahoma;

    padding: 0;
    margin: 0;
}
.container{
    /* background-color: rgb(254, 254, 254); */
    text-align: center;
    padding: 15px;

    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .in{
    border-radius: 10px;
    color: black;
    border: 3px solid white;

    padding: 10px;
    width: 450px;

    flex: 1 1 auto;
}
.log{
    background-color: rgb(171, 177, 159);
}
.log h2{
    color: transparent; 
    -webkit-text-stroke: 1px white;
    font-weight: bolder;
    font-size: 34px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.log button{
    background-color: #2cb1bc;
}
.log button:hover {
    background-color: #238a94; 
    color: #fff;
}
.sign{
    background-color: rgb(173, 222, 222);
}
.sign h2{
    color:  rgb(40, 184, 136);
    font-size: 32px;
    -webkit-text-stroke: 0.75px #fff;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    
}
span{
    font-size: 16px;    
    color: rgb(255, 47, 106);
    font-style: italic;
    margin: 0;
    padding: 0;
}
input{
    height: 60px;
    padding-left: 15px;
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(40, 164, 158);
    font-size: 17px;
    transition: 0.5s;
}
input:hover{
    border: 2px solid rgb(31, 224, 105);
}

button{
    width: 150px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid rgb(241, 246, 240);
    border-radius: 10px;
    padding: 20px 0;
    transition: 0.5s;
}
button:hover{
    width: 152px;
    padding: 21px 0;

    background-color: rgb(40, 184, 136);
}
